.DS_Store
*/.DS_Store

key.json
secrets.yml
vault.key

ansible/vars/prometheus.yaml
ansible/roles/*
ansible/inventory.ini

*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache

**/backend.tf

*.retry
